.header {
  height: 80px;
  margin-bottom: 20px;
  background-color: grey;
  width: 1350px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.input {
  margin-right: 10px;
  padding: 8px;
  border: black solid 1px;
}

.formBtn {
  padding: 8px;
  border-radius: 14px;
  background-color: rosybrown;
  color: white;
}
